<a href="/{{ path }}" target="_blank">
    <picture>
        {% set img1000 = resize_image(path=path, width=1000, op="fit_width") %}
        {% set img800 = resize_image(path=path, width=800, op="fit_width") %}
        {% set img600 = resize_image(path=path, width=600, op="fit_width") %}
        {% set img500 = resize_image(path=path, width=500, op="fit_width") %}
        {% set img400 = resize_image(path=path, width=400, op="fit_width") %}
        {% set img300 = resize_image(path=path, width=300, op="fit_width") %}
        <source srcset="{{ img1000.url }}, 1000w">
        <source srcset="{{ img800.url }}, 800w">
        <source srcset="{{ img600.url }}, 600w">
        <source srcset="{{ img500.url }}, 500w">
        <source srcset="{{ img400.url }}, 400w">
        <source srcset="{{ img300.url }}, 300w">
        <img src="{{ img1000.url }}" alt="{{ alt }}">
    </picture>
</a>
