{% macro title(page, title_link=True) %}
    <header class="post__header">
        <h1 class="post__title">
            {% if title_link %}
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            {% else %}
                {{ page.title }}
            {% endif %}
        </h1>
        <div class="post__meta">
            {% if page.category %}
                <span class="post__time">{{ page.date | date(format="%F") }}</span>
            {% endif %}
            {% if page.category %}
                <div class="post__category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                </div>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
