{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="referrer" content="no-referrer">
    {% block css %}
        <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
    {% endblock css %}
    <link rel="icon" type="image/png" href="{{ get_url(path="img/bug.png", trailing_slash=false) }}">

    {% block description %}
        <meta name="Description"
              content="Personal ramblings about all kinds of things, including programming and hiking.">
    {% endblock description %}

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
    {% endif %}

    {% block js %}
    {% endblock js %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
<div class="container">
    <header id="header">
        <div class="logo">
            <a href="{{ config.base_url }}">
                <img src="{{ get_url(path="img/bug_white.svg", trailing_slash=false) }}" alt="Back to main page">
                <span>{{ section.title }}</span>
            </a>
        </div>
        <nav class="menu">
            <ul>
                {% for item in config.extra.even_menu %}
                    <li class="menu-item">
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                            <img alt="{{ item.name }}" src="{{ get_url(path=item.logo, trailing_slash=false) }}">
                            <span>{{ item.name }}</span>
                        </a>
                    </li>
                    {% if not loop.last %}
                        <li>
                            &#xb7;
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="intro" id="intro">
            {{ section.content | safe }}
        </div>

        <hr>

        <div class="content" id="mobile-panel">
            {% block content %}
                <div class="posts">
                    {% for page in paginator.pages %}
                        <article class="post">
                            {{ post_macros::title(page=page) }}
                            <div class="post__summary">
                                {{ page.summary | safe }}
                            </div>
                            <div class="read-more">
                                <a href="{{ page.permalink }}">Read more...</a>

                                <div>
                                    {% if page.taxonomies.categories is containing("programming") %}
                                        <a href="{{ config.base_url }}/categories/programming/">
                                            <img src="/img/code_black.svg" alt="programming post">
                                        </a>
                                    {% endif %}
                                    {% if page.taxonomies.categories is containing("outdoors") %}
                                        <a href="{{ config.base_url }}/categories/outdoors/">
                                            <img src="/img/mountain_black.svg" alt="outdoors post">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                <nav class="pagination">
                    {% if paginator.previous %}
                        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
                    {% endif %}
                    {% if paginator.next %}
                        <a class="next" href="{{ paginator.next }}">Next ›</a>
                    {% endif %}
                </nav>
            {% endblock content %}
        </div>
    </main>

    {% block footer %}
    {% endblock footer %}
</div>

{% block js_body %}
{% endblock js_body %}
</body>

</html>
