{% extends "index.html" %}


{% block description %}
    <meta name="Description" content="Show all posts tagged with {{ tag.name }}">
{% endblock description %}

{% block content %}
    <div class="taxonomy">
        <h2>{{ tag.name }}</h2>
        {% for page in tag.pages %}
            <div class="taxonomy__item">
                <span class="taxonomy__item__time">{{ page.date | date(format="%F") }}</span>
                <span class="taxonomy__item__title">
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
