{% extends "index.html" %}


{% block description %}
    <meta name="Description" content="List of available tags">
{% endblock description %}

{% block content %}
    <div class="taxonomies">
        <div class="taxonomies__title">
            {{ tags | length }} tags in total
        </div>
        <div class="taxonomies__items">
            {% for tag in tags %}
                <a href="{{ get_taxonomy_url(kind="tag", name=tag.name) }}">
                    {{ tag.name }}
                    <span class="count">{{ tag.pages | length }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
