/* charter - latin */
@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Charter Regular'), local('Charter-Regular'),
  url('fonts/charter_regular-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Charter Bold'), local('Charter-Bold'),
  url('fonts/charter_bold-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Fira Mono Regular'), local('Fira Mono-Regular'),
  url('fonts/FiraMono-Regular.woff2') format('woff2'),
  url('fonts/FiraMono-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 20px;
  box-sizing: border-box;
}

body {
  font-family: 'Charter', serif;
  line-height: 1.5;
  color: $text-color;
  background: $secondary-colour;
  border-top: 3px solid $main-colour;
}

.container {
  width: $body-width;
  margin: 0 auto;
  padding-bottom: 4rem;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
    box-shadow: -1px -5px 5px #cacaca;
  }
}

a {
  color: $text-color;
  text-decoration: none;
}

header img {
  max-width: 100%;
  height: 1em;
  display: inline-block;
  vertical-align: baseline;
}

pre {
  display: block;
  padding: 0.3rem 0.5rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 1rem;
}

iframe {
  border: 0;
}
