#header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background: $main-colour;
  color: $secondary-colour;

  border-radius: 0 0 1em 1em;

  * {
    color: $secondary-colour;
  }

  .logo {
    a {
      font-size: 48px;
      @include max-screen() {
        :not(img) {
          display: none;
        }
      }
    }
    img {
      vertical-align: baseline;
      height: 36px;
      width: 32px;
    }
  }

  .menu {
    align-self: flex-start;
    ul {
      display: inline-block;

      li {
        display: inline-block;
        margin-right: 5px;
      }
      .menu-item {
        a {
          @include underline-from-center($secondary-colour);
          font-size: 1em;
        }
        @include max-screen() {
          img {
            font-size: 1.5em;
          }
          span {
            display: none;
          }
        }
        @include min-screen() {
          img {
            display: none;
          }
        }
      }
      @include max-screen() {
        > :not(.menu-item) {
          display: none;
        }
      }
    }
  }
}
