@import "normalize";

// TODO: allow to change that
$main-colour: #181818;
$text-color: #181818;
$secondary-colour: #ffffff;
$body-width: 1000px;
$code-colour: #56071d;
$code-font-family: 'Fira Mono', Consolas, Monaco, Menlo, Consolas, monospace !default;


@mixin min-screen($min-width: $body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@import "animations";

@import "base";
@import "header";
@import "main";
@import "slideout";

.contact {
   padding: 0 1em 0.5em 1em;
   border: dashed;
}